$foo-height: 120px;
$foo-width: 500px;
$foo-amount: 33%;
$foo-animation-speed: 100s;
$foo-color: #BEBEBE;
$foo-transition: (color 0.4s, height 1s ease);
$foo-widths: (1920, 1600, 1280, 620);
$foo-grid-images: ((one.png, two.png, three.png), (four.png, five.png, six.png), (seven.png, eight.png, nine.png));
$foo-deep-list: ((
	prop1: val1,
	prop2: 4,
	prop3: (hello, world),
	prop4: ((
		word: hello,
		language: english
	), (
		word: hallo,
		language: german
	))
), (
	prop1: val2,
	prop5: false
));
$foo-labeled-color: red;
$foo-transparent-color: transparent;
$foo-rgb-color: rgb(255, 0, 0);
$foo-rgba-color: rgba(255, 0, 0, 0.5);
$foo-car-red: #FF0000;
$foo-car-green: #00FF00;
$foo-car-blue: #0000FF;
$foo-car-inner-seat: 10px;
$foo-transform: rotateY(0deg) translateZ(288px);
$foo-path: "a/path/to/something.png";
$foo-string: "some string content";
$foo-truefalse: true;
$foo-truefalsestring: "true";
$foo-n: null;
