$globalConfig: (
	height: 120px,
	width: 500px,
	amount: 33%,
	color: #BEBEBE,
	car: (
		red: #FF0000,
		green: #00FF00,
		blue: #0000FF
	),
	string: "a/path/to/something.png",
	truefalse: true,
	truefalsestring: "true"
);