$foo-height: 120px;
$foo-width: 380px;
$foo-amount: 33%;
$foo-animation-speed: 100s;
$foo-color: #BEBEBE;
$foo-labeled-color: red;
$foo-transparent-color: transparent;
$foo-rgb-color: rgb(255, 0, 0);
$foo-rgba-color: rgba(255, 0, 0, 0.5);
$foo-car-red: #FF0000;
$foo-car-green: #00FF00;
$foo-car-blue: #0000FF;
$foo-car-inner-seat: 10px;
$foo-transform: rotateY(0deg) translateZ(288px);
$foo-path: "a/path/to/something.png";
$foo-string: "some string content";
$foo-truefalse: true;
$foo-truefalsestring: "true";
$foo-n: null;
$foo-offset: 20px;
