@height: 120px;
@width: 380px;
@amount: 33%;
@animation-speed: 100s;
@color: #BEBEBE;
@labeled-color: red;
@transparent-color: transparent;
@rgb-color: rgb(255, 0, 0);
@rgba-color: rgba(255, 0, 0, 0.5);
@car-red: #FF0000;
@car-green: #00FF00;
@car-blue: #0000FF;
@car-inner-seat: 10px;
@transform: rotateY(0deg) translateZ(288px);
@path: "a/path/to/something.png";
@string: "some string content";
@truefalse: true;
@truefalsestring: "true";
@n: null;
@offset: 20px;
