$globalConfig: (
	height: 120px,
	width: 500px,
	amount: 33%,
	animation-speed: 100s,
	color: #BEBEBE,
	car: (
		red: #FF0000,
		green: #00FF00,
		blue: #0000FF,
		inner: (
			seat: 10px
		)
	),
	string: "a/path/to/something.png",
	truefalse: true,
	truefalsestring: "true"
);